<%- include('cabecalho.ejs')%>
    
 <!-- Conteúdo Principal -->
    <main class="container">
        <h2>Bem-vindo ao Sistema de Futebol</h2>
        <img src="./gato.jpeg">
    </main>
    <div id="artistas">
        <h3>Seleções</h3>
        <p>Cadastre e visualize todas as seleções com suas características e descrições.</p>
        <a href="/selecao/lst" class="btn btn-primary">Ver Lista de Seleções</a>
        <a href="/selecao/add" class="btn btn-success">Cadastrar Seleção</a>
    </div>

    <div>
        <h3>Jogadores</h3>
        <p>Cadastre e visualize todos os jogadores das seleções com suas características e descrições.</p>
        <a href="/jogador/lst" class="btn btn-primary">Ver Lista de Jogadores</a>
        <a href="/jogador/add" class="btn btn-success">Cadastrar Jogador</a>
    </div>

    </div>
<%- include('rodape.ejs')%>